body {
    background-color:rgb(109, 222, 226);
}
.foto_fato {
    width: 200px;
}

header {
    padding: 30px;
    background-color:rgb(13, 111, 156);
    text-align: center;
    color: white;
}

nav li {
    display: inline-block;
    margin-right: 100px;
}

nav {
    background-color: rgb(251, 255, 0);
    padding: 10px 0px
}

table {
    float: right;
    position: relative;
    bottom: 180px;
    display: inline-block;
}

.info_gerais p {
    width: 85%;
}